.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: #fff;
  border-bottom: 1px solid #162941;
  flex-wrap: wrap;
}

.header h2 {
  font-family: 'Georgia', serif;
  font-size: 1.6rem;
  color: #162941;
  flex: 1;
  min-width: 180px;
}

/* Contenedor que agrupa la barra y el icono */
.barra-Busqueda {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 2;
  justify-content: center;
  position: relative;
}

/* Ajustamos la barra de búsqueda para que se adapte al tamaño de pantalla */
.barra-Busqueda input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
  min-width: 250px;

}

/* Icono de perfil (usado en PerfilMenu.jsx) */
.icono-perfil {
  font-size: 50px;
  color: #162941;
  cursor: pointer;
  gap:20px
}

/* Autocompletado */
.sugerencias-autocompletar {
  position: absolute;
  top: 38px;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  max-width: 500px;
  z-index: 10;
}

.sugerencias-autocompletar li {
  padding: 6px 10px;
  cursor: pointer;
}

.sugerencias-autocompletar li:hover {
  background-color: #f0f0f0;
}
