/* App.css */
.app-container {
  display: flex;
  height: 100vh;
}

.contenido-principal {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px; /* cuando sidebar está abierto */
  transition: margin-left 0.3s ease;
  background-color: #f1f1f1;
}

.contenido-principal.expandido {
  margin-left: 60px; /* cuando sidebar está cerrado */
}
